@charset "UTF-8";
*{
    border: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: rgb(31, 31, 129);
    color: white;
    text-align: center;
}

#centro{
    background-color: white;
    color: black;
    margin: auto;
    max-width: 300px;
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 1px 2px 4px black;
    line-height: 2em;
}

#res{
    background-color: rgb(0, 0, 63);
    max-width: 150px;
    min-height: 350px;
    margin: auto;
    border-radius: 15px;
    color: white;
}

#numb{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#botao{
    background-color: rgb(0, 0, 63);
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
}