@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    fill: 100%;
    font-family: sans-serif;
}
    body{
        background-color: rgb(35, 35, 100);
        text-align: center;
        color: white;
        line-height: 2em;
        padding: 1em;
    }
    #verificador{
        background-color: white;
        color: black;
        margin: auto;
        padding-top: 1em;
        line-height: 2em;
        width: 500px;
        border-radius: 20px;
    }
    footer{
        font-weight: 700;
    }